<header>

  <img src="./logo.jpg" alt="logo" />

  <span class="slogan">我不知道你在说什么</span>

  <div class="navs">
    <% names.forEach((o) => { %>
      <a href="./<%= o.name %>.html" ><%= o.cn %></a>
    <% }) %>  
  </div>

</header>