<!DOCTYPE html>
<html lang="cn">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What!</title>
  <link type="text/css" rel="stylesheet" href="./content.css" />
  <link rel="icon" type="image/x-icon" href="./favicon.jpg">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-P65RJH2DCW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P65RJH2DCW');
  </script>
</head>
<body>
  <%- nav %>

  <main>

    <%- htmls %>
  </main>
</body>
<script src="./content-script.js" ></script>
</html>

